.container {
    height: 90vh;
    color: white;
    width: 850px;

}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-8 {
    gap: 8px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.text-4xl {
    font-size: 2.25rem;
}

.font-bold {
    font-weight: bold;
}

.btn-add {
    color: green;
}

.btn-add :hover {
    color: rgb(8, 158, 8);
}

table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    justify-content: center;
}

th {
    justify-content: center;
    background-color: #f2f2f2;
}