<style>
    .container{
        color: white;
    }
    .intro-section{
        text-align: center;
        color: white;
        padding: 20px;
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-category{
        width: 200px;
    }
    .search-input{
        width: 300px;
        background: rgb(19, 23, 42);
        margin-right: 10px;
        border-color: rgb(61, 61, 20);
        color: white;
    }
    .form-control::placeholder{
        color: greenyellow;
    }
    .product-item{
        background-color: rgb(19, 23, 42);
        border: 1px solid rgb(61, 61, 20);
        border-radius: 20px;
        padding: 20px;
        margin-top:20px;
        margin-bottom: 20px;
    }
    .product-image{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .product-name{
        color: white;
    }
    .product-description{
        color:antiquewhite;
    }
    .product-warranty{
        color: aquamarine;
    }
    .product-price{
        color:red;
    }
    .product-actions{
        display: flex;
        justify-content: center;
        margin:10px;
        padding:5px;

    }
    .space{
        margin: 10px;;
    }

</style>
<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách sản phẩm</p>
        <p>Bạn có thể mua hàng tại đây</p>
    </div>
    <!-- Ô search box và ô combobox bên phải -->
    <div class="search-box" >
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm" >
        <select class="form-control product-category" >
            <option selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Bánh kẹo</option>
            <option value="">Đồ dân dụng</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" alt="product image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Laptop: Dell</p>
                <p class="product-warranty">Bảo hành:12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" alt="product image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Laptop: Dell</p>
                <p class="product-warranty">Bảo hành:12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" alt="product image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Laptop: Dell</p>
                <p class="product-warranty">Bảo hành:12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" alt="product image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Laptop: Dell</p>
                <p class="product-warranty">Bảo hành:12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" alt="product image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Laptop: Dell</p>
                <p class="product-warranty">Bảo hành:12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>