.container{
    height: 90vh;
    color: white;
    width: 850px;

}
.form-control{
    background:rgb(31, 8, 53) ;
    color: white;
}
.login-form{
    background-color: rgb(12,12,55);
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(34,34,60);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
}
.login-header{
    text-align: center;
    color: aqua;
    margin-bottom: 10px;
}
.check-box{
    margin-right: 50px;
    justify-content: space-between;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-check-input{
    margin: 5px;
}
.forgort-password{
    text-decoration: none;
}
.access-right{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    background-color: rgb(31, 8, 53);
    color: aliceblue;
    text-align: center;
    justify-content: center;
}
.forn-control::placeholder{
    color: aqua;
}
.login-button{
   justify-content: center;
   padding: 10px 0px;
   width: 100%;
   border-radius: 20px;
   background-color: aqua;
}
.divider{
    border: 1px;
    background-color: white;
    height: 1px;
    margin: 10px;
}

